@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Muli', sans-serif;
  font-size: 1.6rem;
  color: white;
  box-sizing: border-box;
  background-color: #2b88f0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 50rem;
}

.heading {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.8rem;
}

.input {
  font-family: inherit;
  font-size: 1.6rem;
  width: 100%;
  height: 10rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.2rem;
}

.tag {
  background-color: #f0932b;
  padding: 1rem 2rem;
  border-radius: 5rem;
  margin: 0.5rem 0.2rem;
  display: inline-block;
}

.highlight {
  background-color: #273c75;
}
