@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  box-sizing: border-box;
  background-color: #f7f7f7;
}

.counter,
.final,
.nums span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.counter {
  font-size: 2rem;
  text-transform: uppercase;
}

.nums {
  height: 5rem;
  width: 10rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  position: relative;
}

.nums span {
  font-size: 5rem;
  color: #3498db;
  transform-origin: bottom center;
  transform: translate(-50%, -50%) rotate(120deg);
}

.nums span.in {
  transform: translate(-50%, -50%) rotate(0);
  animation: in 0.5s ease-in-out;
}

.nums span.out {
  transform: translate(-50%, -50%) rotate(-120deg);
  animation: out 0.5s ease-in-out;
}

.final {
  transform: translate(-50%, -50%) scale(0);
}

.final h1 {
  margin: 2rem 0;
}

.hide {
  transform: translate(-50%, -50%) scale(0);
  animation: hide 0.2s ease-out;
}

.show {
  transform: translate(-50%, -50%) scale(1);
  animation: show 0.2s ease-out;
}

@keyframes in {
  from {
    transform: translate(-50%, -50%) rotate(120deg);
  }

  30% {
    transform: translate(-50%, -50%) rotate(-20deg);
  }

  60% {
    transform: translate(-50%, -50%) rotate(10deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(0);
  }
}

@keyframes out {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  50% {
    transform: translate(-50%, -50%) rotate(30deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(-120deg);
  }
}

@keyframes hide {
  from {
    transform: translate(-50%, -50%) scale(1);
  }

  to {
    transform: translate(-50%, -50%) scale(0);
  }
}

@keyframes show {
  from {
    transform: translate(-50%, -50%) scale(0);
  }

  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

.btn--replay {
  font-family: inherit;
  background-color: #3498db;
  color: white;
  padding: 1rem 1.5rem;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.3s;
}

.btn--replay:hover {
  transform: rotate(-5deg) scale(1.1);
}
