@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* font-size: 62.5%; */
}

body {
  box-sizing: border-box;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.background {
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background: url(../img/payCard.jpg) no-repeat center / cover;
  z-index: -1;
  filter: blur(20px);
}
