@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  box-sizing: border-box;
  background-color: #2a2a72;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  gap: 3rem;
}

.search__input {
  width: 70rem;
  font-family: inherit;
  font-size: 1.8rem;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  background-color: #4c2885;
  border: none;
  box-shadow: 0 0 4rem 1.5rem rgba(0, 0, 0, 0.1);
  color: white;
}

.search__input::placeholder {
  color: #aaa;
}

.search__input:focus {
  outline: none;
}

.card {
  width: 80rem;
  background-color: #4c2885;
  border-radius: 2rem;
  padding: 4rem 5rem;
  display: flex;
  gap: 2rem;
  animation: pop 1s;
}

@keyframes pop {
  from {
    transform: translateY(10rem);
    opacity: 0;
  }

  to {
    transform: translate(0);
    opacity: 1;
  }
}

.card__img img {
  width: 15rem;
  border-radius: 50%;
  border: 1rem solid #2a2a72;
}

.card__list {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.card__list strong {
  margin-left: 1rem;
}

.card__info {
  margin-left: 2rem;
}

.card__info h2 {
  margin-bottom: 2rem;
}

.card__info p {
  margin-bottom: 2rem;
}

.repos {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.repo {
  background-color: #2a2a72;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.repo a:link,
.repo a:visited {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
