@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  box-sizing: border-box;
  background-color: rgb(161, 100, 223);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
}

.btn {
  font-family: inherit;
  font-size: 2.5rem;
  color: white;
  border: none;
  background-color: rebeccapurple;
  padding: 2rem 4rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.playAnim {
  color: pink;
  transition: color 0.5s;
  animation: scaleAnim 0.34s infinite;
}

@keyframes scaleAnim {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
